body {
    background-color: #ffffff;
    font-family: 'Mitr', sans-serif;
}

.jaune {
    color: #EDB518;
}

.rouge {
    color: #790311;
}

.blanc {
    color: #F5F7F7;
}

.noir {
    color: #000417;
}
#maCarte{
    height: 525px;
    width: 100%;

}


.carousel-item {
    height: 80vh;

}

.carousel-img {
    height: 80vh;
}

footer {
    background-color: #f4f4f4;

    color: #000417;
    text-align: center;
}

#ligne {
    margin-top: 2vh;
    height: 1px;
    background-color: #e3e3e3;
}

footer ul {
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: center;
}

#reseaux i {
    color: #000417;
    font-size: 2rem;
    padding: 10px;
}

#bulle {
    display: grid;
    grid-template-columns: 1fr;
}

#bulle p {
    font-weight: bold;
    border-radius: 10%;
    border: 5px solid #ffffff;
    margin: 4%;
    padding: 100px;
    font-size: 2rem;
}

.bulle1 {
    color: #ffffff;
    background-color: #000417;
}

#copyright {
    color: #F5F7F7;
    background-color: #000417;
    margin-bottom: 0px;
}
#titre{
    color: #F5F7F7;
    background-color: #000417;
}

/*tablette /

@media (max-width: 600px) {
    #bulle {
        grid-template-columns: 1fr 1fr;
    }

    #bulle p {

        padding: 25%;
    }
    #coachesAccueil{
        display: grid;
        grid-template-columns: 1fr
    }

}
/pc*/

/* CoachList */

@media (min-width: 1250px) {
    #bulle {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #bulle p {

        padding: 20%;
    }
    #maCarte{
        display:block

}
}
