body {
    background-color: #ffffff;
    font-family: 'Mitr', sans-serif;
}
#maCarte{
    height: 525px;
    width: 100%;

}

.carousel-item {
    height: 30vh;

}

.carousel-img {
    height: 30vh;
}

footer {
    background-color: #f4f4f4;

    color: #000417;
    text-align: center;
}

#ligne {
    margin-top: 2vh;
    height: 1px;
    background-color: #e3e3e3;
}

footer ul {
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: center;
}

#reseaux i {
    color: #000417;
    font-size: 2rem;
    padding: 10px;
    
}

#bulle {
    display: grid;
    grid-template-columns: 1fr;
}

#bulle p {
    font-weight: bold;
    border-radius: 10%;
    border: 5px solid #ffffff;
    margin: 4%;
    padding: 90px;
    font-size: 2rem;
}

.bulle1 {
    color: #ffffff;
    background-color: #000417;
}

#copyright {
    color: #000417;
    background-color: #000417;
    margin-bottom: 0px;
}
#titre{
    color: #F5F7F7;
    background-color: #000417;
}

/*tablette */

@media (min-width: 600px) {
    #bulle {
        grid-template-columns: 1fr 1fr;
    }

    #bulle p {

        padding: 25%;
    }
    .carousel-item {
        height: 50vh;
    
    }
    
    .carousel-img {
        height: 50vh;
    }


}
/*pc*/

/* CoachList */

@media (min-width: 1250px) {
    #bulle {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #bulle p {

        padding: 20%;
    }

.carousel-item {
    height: 80vh;

}

.carousel-img {
    height: 80vh;
}
    
}
